matplotlib>=3.10.2
matplotlib-inline>=0.1.5
numpy==2.2.2
onnxruntime
pillow==11.1.0
pyyaml==6.0.2
scikit-image==0.25.2
scipy==1.15.1
seaborn==0.13.2
# torch==2.5.1
#torchvision==0.20.1
tqdm==4.67.1
opencv_python==4.12.0
opencv_contrib_python==4.12.0
ultralytics==8.3.203

# pip-only section from environment.yml
clearml==2.0.2
kagglehub==0.3.13
#paddleocr>=3.0
pandas==2.2.3