# Core dependencies
numpy==2.3.2
pandas==2.3.2
matplotlib-base==3.10.6

# Download data
kagglehub==0.2.7

# Train YOLO
ultralytics==8.3.197
clearml==2.0.2

# Image processing
opencv==4.12.0
scipy==1.16.1
scikit-image==0.25.2

# OCR
paddleocr==3.2.0